<div
  class="relative flex min-h-16 items-center justify-between border-b border-primary-50 bg-white px-4 py-3">
  <span class="text-lg font-semibold uppercase tracking-wide text-primary">
    Assignment
  </span>

  <div class="flex items-center gap-x-3">
    @if (store.canInitiate()) {
      <ba-button
        title="Initiate the assignment"
        icon="fa-flag-checkered animate-[bounce_.5s_ease-in-out_infinite] group-hover:animate-none"
        iconPosition="right"
        [isLoading]="store.isInitiatingAssignment()"
        buttonClass="bg-white text-gray-500 border border-gray-200 !ring-gray-300 hover:animate-none group"
        (onClick)="store.showInitiateAssignmentDialog(ideaId())" />
    }
    @if (store.isAssignmentDirty() && store.canSaveChanges()) {
      <ba-button
        title="Save the changes"
        icon="fa-bookmark"
        iconPosition="right"
        [isLoading]="store.isSavingChanges()"
        buttonClass="bg-gray-50 text-primary-200 border border-primary-50 hover:bg-gray-100 hover:border-primary-200 !ring-primary"
        (onClick)="store.saveChanges()" />
    }
    @if (store.canDelete()) {
      <ba-button
        title="Delete assignment"
        icon="fa-trash"
        iconPosition="right"
        [isLoading]="store.isDeletingAssignment()"
        [disabled]="!store.isAssignmentAvailable()"
        buttonClass="bg-gray-50 text-red-400 border border-red-50 hover:bg-gray-100 hover:border-red-300 !ring-red-400"
        (onClick)="store.showDeleteAssignmentDialog()" />
    }
  </div>
</div>

@if (store.isAssignmentAvailable()) {
  <div class="flex flex-col space-y-10 px-4 py-6">
    <ba-assignees
      [assignees]="store.assignment()?.assignees"
      [disabled]="!store.canSetAssignees()"
      (assigneesChange)="onAssigneesChange($event)"
      (panelHide)="onAssigneesPanelHide()" />

    <ba-due-date
      [dueDate]="store.assignment()?.due_date"
      [disabled]="!store.canSetDueDate()"
      (dueDateChange)="onDueDateChange($event)" />

    <ba-progress
      [value]="store.assignment()?.progress ?? 0"
      [disabled]="!store.canSetProgress()"
      (valueChange)="onProgressChange($event)" />

    <ba-assi-comments-list
      [radioFilter]="true"
      [assignmentId]="store.assignmentId()"
      [comments]="store.assignmentComments()" />
  </div>
} @else {
  <ba-assignment-not-initialized [isCommittee]="store.isCommitteeMember()" />
}
