<div class="flex flex-col gap-0">
  <app-header />

  <div class="flex h-[calc(100vh-var(--header-height))]">
    <div
      class="relative min-h-[calc(100vh-var(--header-height))] transition-all duration-300 ease-in-out"
      [style.width]="
        isOpen()
          ? 'var(--expanded-sidebar-width)'
          : 'var(--collapsed-sidebar-width)'
      ">
      @if (isOpen()) {
        <app-expanded-sidebar />
      } @else {
        <app-collapsed-sidebar />
      }
    </div>

    <div class="min-h-[calc(100vh-var(--header-height))] w-full overflow-auto">
      <div class="mx-auto h-full w-full bg-white">
        <ba-breadcrumb class="sticky top-0 z-[200] backdrop-blur-[.5rem]" />

        <router-outlet />
      </div>
    </div>
  </div>
</div>
