<div
  [dir]="translationService.dir()"
  class="flex flex-col gap-6 px-4 py-6 lg:px-20">
  <ba-score-cards-list />

  <div class="flex flex-col gap-3 xl:flex-row xl:items-center">
    <ba-ideas-by-plants class="w-full flex-1 xl:w-auto" [plants]="plants()" />
    <!-- <ba-ideas-by-bus class="w-full flex-1 xl:w-auto" [bus]="bus()" /> -->
    <ba-ideas-by-department
      class="w-full flex-1 xl:w-auto"
      [departments]="departments()" />
  </div>
</div>

@if (showActionsChart()) {
  <div class="flex flex-col gap-6 px-4 lg:px-20">
    <ba-actions-count [departments]="[]" />
    <!-- <div
      class="mb-6 flex w-full max-w-full flex-col break-words rounded-lg border border-gray-100 bg-white text-gray-600 shadow-lg">
      <div class="relative p-3">
        <div class="pt-1">
          <div class="flex items-center gap-3">
            <h4
              class="text-2xl font-semibold tracking-tighter text-gray-400 xl:text-2xl">
              (Un)Implemented Actions by Department
            </h4>

            <ba-filter-button (onClick)="op.toggle($event)" />
            <p-popover #op>
              <ba-dashboard-filter />
            </p-popover>
          </div>

          <div
            echarts
            [options]="unImplementedActionschartOptions"
            class="min-h-[30rem] w-full"></div>
        </div>
      </div>
    </div> -->
  </div>
}
